html, h1, h2, h3, p, ul, li {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: none;
}

.main-title {
	text-align: center;
	font-weight: 400;
}

.subtitle {
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

h3 {
	font-size: 16px;
}

ul > li {
	font-size: 13px;
}

#gallery {
	margin-bottom: 50px;
}

#gallery > .container > .row > div > a > img {
	width: 100%;
	height: auto;
	margin-top: 20px;
	-webkit-transition: all 0.4s linear;
	   -moz-transition: all 0.4s linear;
	    -ms-transition: all 0.4s linear;
	     -o-transition: all 0.4s linear;
	        transition: all 0.4s linear;	
}

#gallery > .container > .row > div > a > img:hover {
	opacity: 0.75;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.95);
	display: none;
	z-index: 999;
}

#overlay img {
	width: 70%;
	height: auto;
	display: block;
	text-align: center;
	margin: 20px auto;
}